:root{
    ---primary-dark:lightblue;
    ---primary-green:lightgreen;
 
 }
 h1{
     text-align: center;
 
 }
 .container  {
     width:10%;
     margin: auto;
   
 }
 
 input,
 label{
 
 text-align:center
 }
 input{
     margin-bottom: 0.5rem;
      
     
 }
 #check-number{
     
     margin-top: 1rem;
     border-radius:1px;
 }
 #Reset-number{
     margin-top:1rem;
     border-radius:1px;
 } 