:root{
    ---primary-dark:lightblue;
    ---primary-green:lightgreen;
 
 }
 h1{
     text-align: center;
 
 }
 .container  {
     margin: auto;
     width: 20%;
    
 }
 
 input{
     margin-bottom: 0.5rem;
     display: block;
    
     
 }
 #check-number{
     
     margin-top: 1rem;
     border-radius:1px;
 }
 #Reset-number{
     margin-top:1rem;
     border-radius:1px;
     display: block;
 
     
   
   }