:root{
   ---primary-dark:lightblue;
   ---primary-green:lightgreen;

}
h1{
    text-align: center;

}
.container  {
    width: 15%;
    margin: auto;
  /* text-align: center; */
}

input,
label{
display:block ;
}
input{
    margin-bottom: 0.5rem;
    width: 50%;
}
#check-number{
    display: block;
    margin-top: 1rem;
    border-radius:1px;
}
#Reset-number{
    margin-top:1rem;
    border-radius:1px;
    display:block;
    
  
  }